<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="automarketPU3" transaction-type="JTA">
    <jta-data-source>java:app/automarket</jta-data-source>
    <class>dataSourceManagement.entities.Authentication</class>
    <class>dataSourceManagement.entities.Client</class>
    <class>dataSourceManagement.entities.Discount</class>
    <class>dataSourceManagement.entities.Employee</class>
    <class>dataSourceManagement.entities.MonthlyRegister</class>
    <class>dataSourceManagement.entities.Payment</class>
    <class>dataSourceManagement.entities.Purchase</class>
    <class>dataSourceManagement.entities.Role</class>
    <class>dataSourceManagement.entities.ShopOrder</class>
    <class>dataSourceManagement.entities.StockElement</class>
    <class>dataSourceManagement.entities.Vehicle</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
    </properties>
  </persistence-unit>
</persistence>
